*{
    box-sizing: border-box;
}
body{
    background-color: #efefef;
    font-family: 'Fredoka', sans-serif;
    margin: 0;
}
.X{
    color: rgb(255, 70, 37);
}
.O{
    color: rgb(44,135,225);
}
.display-winner{
    margin: auto;
    font-size: 1rem;
    width: 500px;
    text-align: center;
    align-items: center;
}
marquee{
    position: absolute;
    bottom: 0;
    padding: 0.7rem 0;
    background-color: rgb(195, 243, 243);
    font-size: 20px;
    background-color: #efefef;
    box-shadow: 0px 0px 8px #888;
}
